* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Inter', san-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid red;
    margin-bottom: 20px;
}

.name {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}